.biology-quiz {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .quemage{
    display: flex;
    gap: 4rem;
  }
  .image-container{
    height: 450px;
    width: 320px;
    border: 1px sandybrown solid;
    border-radius: 10px;
    object-fit: contain;
  }
  .image-container img{
    height: 450px;
    width: 320px;
    border: 1px black solid;
    border-radius: 10px;
  }
  
  .question {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 70%;
    background-color: #f9f9f9;
  }
  
  .question h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
  }
  
  .option {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    
  }
 
.options .option::before {
    content: counter(option-counter, upper-alpha) ". ";
    counter-increment: option-counter;
  }
  
  .options .option:nth-child(2)::before {
    content: "B. ";
  }
  
  .options .option:nth-child(3)::before {
    content: "C. ";
  }
  
  .options .option:nth-child(4)::before {
    content: "D. ";
  }
  
  
  .option:hover {
    background-color: #f2f2f2;
  }
  
  .option.selected {
    background-color: #cce5ff;
  }
  
  .buttons {
    margin-top: 40px;
    margin-left: 37%;
  }
  
  .buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .buttons button:last-child {
    background-color: #28a745;
  }
  
  .question-map {
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color:gainsboro;

  }
  
  
  
  .question-map ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .question-map li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
  }
  
  .question-map li.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .score {
    margin-top: 15px;
    margin-left: 50%;
  }
  
  .score p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  