
.scoreboard{
    position: absolute;
    top: 200px;
    left: 500px;
    text-align: center;
   background-color: var(--bg-grey);
    width: 300px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}
.scoreboard h2{
    color:var(--color-danger) ;
}
.scoree{
   
    font-size: xx-large;
    text-align: center;
   

}
